@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300&family=Quicksand:wght@700&family=Roboto+Condensed:wght@400;700&display=swap");

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(to right, #800080, #ffc0cb); */
  background-image: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
}

main {
  position: relative;
  margin: auto;
  width: 60%;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 3rem rgba(0, 0, 0, 0.452);
  border-radius: 10px;
  box-sizing: border-box;
}

.player {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 10px;
  padding: 6% 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.player--0 {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.player--1 {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.644);
}

.winner {
  background-color: rgba(0, 0, 0, 0.644);
}
.player .name {
  font-size: 2.5rem;
  font-family: "Nunito";
  margin: 0;
  font-weight: 600;
}

.player .score {
  font-size: 4rem;
  margin: 0.5rem 0 5rem;
  color: #3f5efb;
}

.player .currentscore {
  width: 60%;
  margin: 0 auto;
  background-color: #fc466ae8;
  padding: 1rem 1rem;
  box-sizing: border-box;
  color: white;
  border-radius: 5px;
}

.player .currentscore .current-label {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "montserrat";
  margin: 0;
  text-align: center;
}

.player .currentscore .current-score {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem !important;
  font-family: "montserrat";
  margin: 0;
}

.dice,
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dice {
  top: 7rem;
  width: 7rem;
  border-radius: 5px;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border: none;
  border-radius: 25px;
  font-family: "Poppins";
  background-color: rgba(255, 255, 255, 0.745);
}

.btn--new {
  top: 2rem;
}

.btn--hold {
  bottom: 2rem;
}

.btn--roll {
  bottom: 6rem;
}

.playerDetails {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(10px);
  visibility: visible;
}

.playerDetails.hidden {
  visibility: hidden;
}

.popup {
  position: relative;
  width: 35rem;
  border-radius: 10px;
  height: 300px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.close {
  position: absolute;
  top: 0px;
  margin: 0;
  right: 13px;
  font-size: 2rem;
  cursor: pointer;
}

.error {
  padding: 2px 10px;
  width: 50%;
  font-size: 0.8rem;
  border-radius: 3px;
  background-color: rgba(255, 0, 0, 0.607);
  display: block;
}

.error.hidden {
  display: none;
}

.popup .playername {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.popup input {
  width: 50%;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 10px;
  border: none;
  background-color: #fc466aa9;
  color: white;
  font-family: "poppins";
}

.buttons {
  width: 50%;
  margin: 0px auto !important;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.buttons button {
  width: 45%;
  padding: 5px;
  border: 0;
  background-color: #3f5efb;
  color: white;
  font-family: poppins;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.buttons button:hover {
  transform: scale(1.1);
}

.skip {
  background-color: rgb(186, 183, 183);
  padding: 4px 10px;
  border-radius: 3px;
  font-size: 10.5px;
}
